<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<div>
  <%= @user.profile_type %>
</div>

  <%= form_for(@user) do |form| %>
    <%= form.check_box :admin %>
    <%= form.submit 'change admin status' %>
  <% end %>

<% if @user = current_user %>
  <div>
    <%= link_to 'edit personal information', edit_user_path(current_user) %>
  </div>
<% end %>

<h3>reservations:</h3>
<table>
  <tr>
    <th><%= link_to "name", sort: "first_name" %></th>
    <th><%= link_to "item", sort: "name" %></th>
    <th><%= link_to "category", sort: "category" %></th>
    <th><%= link_to "start", sort: "begins_at" %></th>
    <th><%= link_to "end", sort: "ends_at" %></th>
    <th><%= link_to "status", sort: "reservation_status" %></th>
    <th></th>
  </tr>
  <%= render @reservations %>
  <%= paginate @reservations %>
</table>
