<h2> edit reservation for <%= link_to @reservation.item.name, item_path(@reservation.item) %></h2>
<%= form_for @reservation do |form| %>
  <%= render 'reservations/error_messages', reservation: @reservation %>
  <%= form.hidden_field :item_id %>
  <%= form.hidden_field :reservation_status, value: "pending" %>
  <div>
    <%= form.label :begins_at, "reservation start" %>
    <%= form.datetime_select :begins_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
  </div>
  <div>
    <%= form.label :ends_at, "reservation end" %>
    <%= form.datetime_select :ends_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
</div>
  <%= form.submit "update reservation", confirm: "updated reservations will be submitted for admin approval" %>
<% end %>

<%= link_to "delete", reservation_path, method: :delete,
        confirm: "are you sure you want to delete this reservation?" %>
