<h3>All reservations</h3>
  <% @reservations.each do |reservation|%>
    <div>
      <li>
        <%= reservation.user.first_name %> <%= reservation.user.last_name %>:
        <%= link_to reservation.item.name, reservation.item %> <%= reservation.item.category %>
        // <%= reservation.begins_at.to_formatted_s(:long) %>
        -- <%= reservation.ends_at.to_formatted_s(:long) %>
        // <%= link_to reservation.reservation_status, reservation %>
        <%= form_for(reservation) do |form| %>
          <%= form.select :reservation_status, Reservation::TYPES, include_blank: "select status" %>
          <%= form.submit 'update status' %>
        <%end%>
      </li>
    </div>
  </ul>
<% end %>
