<h2>all reservations</h2>
<table>
  <tr>
    <th><%= link_to "name", sort: "first_name" %></th>
    <th><%= link_to "item", sort: "name" %></th>
    <th><%= link_to "category", sort: "category" %></th>
    <th><%= link_to "start", sort: "begins_at" %></th>
    <th><%= link_to "end", sort: "ends_at" %></th>
    <th><%= link_to "status", sort: "reservation_status" %></th>
    <th></th>
  </tr>
  <%= render @reservations %>
  <%= paginate @reservations %>
</table>
