<%= form_for @reservation do |form| %>
  <%= render 'reservations/error_messages', reservation: form.object %>
  <%= form.hidden_field :item_id %>
  <div>
    <%= form.label :begins_at, "Reservation Start" %>
    <%= form.datetime_select :begins_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
  </div>
  <div>
    <%= form.label :ends_at, "Reservation End" %>
    <%= form.datetime_select :ends_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
</div>
  <%= form.submit "Reserve Item" %>
<% end %>
<%= link_to 'Go back to item', item_path(@reservation.item) %>


