<h2>Reservation for <%= @reservation.item.name %></h2>
<div>
  <p>
    Reservation dates: <%= @reservation.begins_at.to_formatted_s(:long)  %>
    -- <%= @reservation.ends_at.to_formatted_s(:long) %>
    // status: <%= @reservation.reservation_status %>
  </p>
</div>
<% if current_user == @reservation.user %>
  <%= link_to "Edit this Reservation", edit_reservation_path %>
<% end %>
