<h2>add new item</h2>
<%= form_for(@item) do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.select :category, Item::CATEGORIES, include_blank: "item type" %>
  <%= form.url_field :url, placeholder: "image link" %>
  <%= form.submit "create item" %>
<% end %>
