<h2><%= @item.name %></h2>
  <div>
    <% if current_user.admin? %>
      <%= link_to 'edit' , edit_item_path(@item) %>
    <% end %>
  </div>

<div id='item-image'>
  <%= image_tag @item.url %>
</div>

<div id= 'item-description'>
  <h3>description</h3>
  <div>
    item type: <%= link_to @item.category, search_path(search: {query: @item.category}) %>
  </div>
  <div>
    <%= @item.description %>
  </div>

  <% if @item.pair_items.exists? %>
    frequently paired with:
    <% @item.pair_items.each do |pair_item| %>
      <%= link_to pair_item.name, pair_item %>
      <% if current_user.admin? %>
        (<%= link_to 'delete', pair_path(@item, pair_item_id: pair_item.id), method: :delete %>)
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @item.reservations.exists? %>
  <h3>reservations</h3>
    <% @recent_reservations.each do |reservation| %>
      <li>
        <%= reservation.begins_at.to_formatted_s(:long) %> -
        <%= reservation.ends_at.to_formatted_s(:long) %> //
        status: <%= link_to reservation.reservation_status, reservation_path(reservation) %>
      </li>
    <% end %>
    <%= paginate @recent_reservations %>
<% end %>

<%= form_for @reservation do |form| %>
  <%= render 'reservations/error_messages', reservation: form.object %>
  <%= form.hidden_field :item_id %>
  <div id='date-select'>
    <h4>new reservation</h4>
    <div>
      <%= form.label :begins_at, "reservation start" %>
      <%= form.datetime_select :begins_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
    </div>
    <div>
      <%= form.label :ends_at, "reservation end" %>
      <%= form.datetime_select :ends_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
    </div>
    <%= form.submit "reserve item" %>
  </div>
<% end %>


