<h2><%= @item.name %></h2> 
<h3><%= @item.category %></h3>
<%= image_tag @item.url, width: 200 %>

<% if current_user.admin? %>
  <%= link_to 'edit' , edit_item_path(@item) %>
<% end %>

<h3>reservations</h3>
  <% @item.reservations.each do |reservation| %>
    <li>
      <%= reservation.begins_at.to_formatted_s(:long) %> -
      <%= reservation.ends_at.to_formatted_s(:long) %> //
      status: <%= link_to reservation.reservation_status, reservation_path(reservation) %>
    </li>
  <% end %>


<%= form_for @reservation do |form| %>
  <%= render 'reservations/error_messages', reservation: form.object %>
  <%= form.hidden_field :item_id %>
  <div id='date-select'>
    <h4>new reservation</h4>
    <div>
      <%= form.label :begins_at, "reservation start" %>
      <%= form.datetime_select :begins_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
    </div>
    <div>
      <%= form.label :ends_at, "reservation end" %>
      <%= form.datetime_select :ends_at, {start_year: Time.now.year, end_year: 2020, prompt: true, order: [:day, :month, :year]} %>
    </div>
    <%= form.submit "reserve item" %>
  </div>
<% end %>


