<!DOCTYPE html>
<html>
<head>
  <title>equiplent</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='outer-wrapper'>
  <div id='logo'>
    <h1>equiplent</h1>
  </div>
  <div id='side-nav'>
    <% if signed_in? %>
      signed in as: <%= link_to current_user.email, user_path(current_user) %>
      <%= form_for(:search, url: search_path, method: :get) do |form| %>
        <%= form.text_field :query, placeholder: "search here" %>
        <%= form.submit "search" %>
      <% end %>
      <% if current_user.admin? %>
        <div>
          <%= link_to 'reservations', reservations_path %>
        </div>
        <div>
          <%= link_to 'users', users_path %>
        </div>
        <div>
          <%= link_to "add new item", new_item_path %>
        </div>
      <% end %>

        <div>
          <%= link_to "equipment log", items_path %>
        </div>

        <%= link_to 'sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'sign in', sign_in_path %>
      <% end %>
  </div>

  <div id='main-content'>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %>
        </div>
      <% end %>
    </div>
  <%= yield %>
  </div>
</div>
</body>
</html>
